# python
*/__pycache__/
__pycache__/
*.py[cod]
*$py.class

# osx
*/.DS_Store
.DS_Store
.AppleDouble
.LSOverride

# vscode 
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# database
log.db